<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>my ark</title><link rel="stylesheet" href="./../public/style.css">

    </head>
    <body>

            <a href="/game">
                <img class="startbutton buttons" src="./../public/assets/startbutton.png">

            </a>
    

        <!-- <script src="public/particles.js"></script>
        <script src="public/particleinit.js"></script> -->
    </body>
</html>